.vagrant
Berksfile.lock
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config.json
dash_config.rb

# YARD artifacts
.yardoc
_yardoc
doc/
