DHCPDash.config do

  def admin_emails
    emails = ['example@example.com', 'another@example.com']
  end

  def admin_group
    path = 'cn=name,ou=group,dc=example,dc=com'
  end

  def user_group
    path = 'cn=name,ou=group,dc=example,dc=com'
  end

  def spectator_group
    path = 'cn=name,ou=group,dc=example,dc=com'
  end

    ## Change to match your ldap environment
    use OmniAuth::Strategies::LDAP,
        host: '192.168.1.4',
        port: 389,
        method: :plain,
        base: 'ou=Users, dc=example, dc=com',
        uid: 'sAMAccountName',
        bind_dn: 'bind_dn',
        password: 'bind_pw'

end
