<h3>Add new Host</h3>
<form action='/networksmgr/hosts_form' method='post' class="form-inline well">
   <h4>host:</h4> 
   ip: <input type="text" name="ip" <br>
   mac: <input type="text" name="mac" <br>
   <br>
   <br><input type="submit" value="Submit">
</form>
