<h3>Add new Host</h3>
<form action='/networksmgr/hosts_form' method='post' class="form-inline well">
   Hostname: <input type="text" name="hostname" <br>
   IP: <input type="text" name="ip" <br>
   MAC: <input type="text" name="mac" <br>
   <br>
   <br><input type="submit" value="Submit">
</form>
