<h3>Add new Host</h3>
<% if form.failed? %>
  <b><font color="red">Found invalid input, check your input and try again.</font></b>
  <br>
  <br>
<% end %>
<form action="/hosts/new" method="post" class="well">
  <table>
    <tr>
      <td align="left"><b>Hostname: &nbsp;</b></td>
      <td align="left"><input type="text" name="hostname"><br></td>
    </tr>
    <tr>
      <td align="left"><b>IP: &nbsp;</b></td>
      <td align="left"><input type="text" name="ip"><br></td>
    </tr>
    <tr>
      <td align="left"><b>MAC: &nbsp;</b></td>
      <td align="left"><input type="text" name="mac"><br></td>
    </tr>
    <tr>
      <td align="left"><b>Network: &nbsp;</b>
      <td align="left">
          <select name="network">
            <option value="FOC_NONE"></option>
            <% networks.each do |network| %>
            <option value=<%=network%>><%=network%></option>
            <% end %>
          </select></td>
    </tr>
    <tr>
      <td align="left"><br><input type="submit" value="Save"></td>
    </tr>
  </table>
</form>
