  <form id="network">
   id: <input type="text" name="id"<br>
   domain: <input type="text" name="domain"<br>
   network: <input type="text" name="network"<br>
   netmask: <input type="text" name="netmask"<br>
   gateway: <input type="text" name="gateway"<br>
   nameservers: <input type="text" name="nameservers"
   <input type="submit" value="Submit">
  </form>
 
