<h3>Network</h3>
  <form action='/networksmgr/networks_form' method='post' class="form-inline well">
   <br><b>Domain:</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="text" name="domain"<br>
   <br>
   <br><b>Network:</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" name="network"<br>
   <br>
   <br><b>Netmask:</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" name="netmask"<br>
   <br>
   <br><b>Gateway:</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" name="gateway"<br>
   <br>
   <br><b>Nameservers:</b> &nbsp;<input type="text" name="nameservers"<br>
   <br>
   <br><input type="submit" value="Submit">
   </form>
