/* Network */
.network .lbl {
  font-weight: bold;
}
.hosts {
  padding-top: 25px;
}
.modals .form-group label {
  text-align: left;
}

.modals .modal-body {
  padding: 20px 20px 5px 20px;
}

.modals .modal-body .form-group {
  margin-left: auto;
  margin-right: auto;
}

.modals .modal-dialog {
  width: 500px;
}

.modals .modal-footer {
  padding: 20px 17px 0px 0px;
}

/* Forms */
.error {
  color: red;
  padding-bottom: 10px;
}

.input .form-header {
  margin-bottom: 20px;
}

.input .form-group .control-label {
  text-align: left;
}

.input .form-group .col-sm-4 {
  padding-left: 25px;
}

.input .buttons {
  float: right;
}

.input .buttons button {
  margin-left: 10px;
}

/* Homepage */
.networks .network_list .network a {
  font-size: larger;
}

